Source: udjat-module-civetweb
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, pkg-config, gettext, libudjat-dev, libpugixml-dev, libcivetweb-dev

Package: libudjathttpd
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libudjathttpd (= ${binary:Version}), libudjathttpd (= 1.0)
Description: Udjat core library.
 HTTP exporter module for udjat based on CivetWEB library.

Package: udjat-module-civetweb
Architecture: any
Section: libs
Depends: ${misc:Depends}, libudjathttpd (= ${binary:Version})
Description: libudjat development files.
 Udjat http server module

Package: libudjathttpd-dev
Architecture: any
Provides: libudjathttpd-dev (= ${binary:Version})
Section: libdevel
Depends: ${misc:Depends}, pkg-config, libudjathttpd (= ${binary:Version})
Description: libudjat development files.
 Development files for udjat httpd server library

Package: libudjathttpd-dbg
Architecture: any
Depends: libudjat (= ${binary:Version})
Description: Debugging symbols for libudjathttpd
 This package contains the debugging symbols for libudjathttpd.

