<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, follow" />
	<title>Error ${code}</title>
</head>
<body>
<section style="display:flex">
<div>
<img src="/icon/computer-fail-symbolic" height="64px">
</div>
<div>
<h1 style="margin:0px 3px 6px 3px">HTTP Error ${code}</h1>
<p style="margin:0px 3px 6px 3px">${message}</p>
<p style="margin:0px 3px 6px 3px"><small>${body}</small></p>
</div>
</section>
</body>
</html>

