<!DOCTYPE html>
<html lang="en">
<head>
	<title>${login-title}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="noindex, follow" />
	<link rel="stylesheet" type="text/css" href="${css-name}" />  
</head>
<body class="login-body">
  <form action="signin" method="post">
  	<div>
		<h1>${login-title}</h1>
		<p><label for="username">${user-label}</label><input type="text" id="username" name="username" placeholder="name" value="${username}"></label>
		<p><label for="password">${password-label}</label><input type="Password" id="password" placeholder="password" name="password"></p>
		<input type="hidden" name="client_id" value="${client_id}">
		<input type="hidden" name="redirect_uri" value="${redirect_uri}">
		<input type="hidden" name="response_type" value="${response_type}">
		<input type="hidden" name="state" value="${state}">
		<p>${login-message}</p>
		<p class="login-buttons"><input type="submit" value="${login-button}"></p>
	</div>
  </form>
</body>
</html>

