<!DOCTYPE html>
<html style="min-height:100%;display:grid;">
<head>
  <title>${login-title}</title>
  <link rel="stylesheet" type=\"text/css\" href="${css-name}" />
</head>
<body class='login-body' style="margin:auto;">
  <form action="signin" method="post" style="padding:1em 1em 7em 1em;">
  	<div>
		<h3>${login-title}</h3>
		<p><label>Username: <input type="text" name="username" placeholder="name" value="${username}"></label></p>
		<p><label>Password: <input type="Password" placeholder="password" name="password"></label></p>
		<input type="hidden" name="client_id" value="${client_id}">
		<input type="hidden" name="redirect_uri" value="${redirect_uri}">
		<input type="hidden" name="response_type" value="${response_type}">
		<input type="hidden" name="state" value="${state}">
		<p>${login_message}</p>
		<p><input type="submit" value="Sign in"></p>
	</div>
  </form>
</body>
</html>

